*{
margin:0;
padding:0;
box-sizing:border-box;
}


html{
scroll-behavior:smooth;
}


body{
background:#f7f0e5;
color:#1d241b;
font-family:Arial, sans-serif;
}



/* HEADER */


header{

position:fixed;
top:0;

width:100%;

padding:35px 70px;

display:flex;
justify-content:space-between;
align-items:center;

z-index:10;

}



.logo{

font-family:Georgia,serif;
letter-spacing:5px;
font-size:22px;

}


.logo span{

display:block;
font-family:Arial;
font-size:10px;
letter-spacing:3px;
margin-top:8px;

}


nav a{

margin-left:35px;
text-decoration:none;

color:#1d241b;

font-size:12px;
letter-spacing:2px;

}



/* HERO */


.hero{

height:100vh;

background:
linear-gradient(
90deg,
rgba(247,240,229,.8),
rgba(247,240,229,.15)
),
url("assets/hero.png");


background-size:cover;
background-position:center;

display:flex;
align-items:center;

padding:80px;

}


.hero p{

letter-spacing:5px;

}


.hero h1{

font-family:Georgia,serif;

font-size:90px;
font-weight:400;

line-height:.95;

margin:30px 0;

}


.hero h3{

font-weight:400;

font-size:22px;

}





/* STORY */


.story,
.size{

display:grid;

grid-template-columns:1fr 1fr;

gap:80px;

align-items:center;

padding:150px 10%;

}



.story img,
.size img{

width:100%;

}


h2{

font-family:Georgia,serif;

font-size:60px;

font-weight:400;

}


p{

font-size:19px;

line-height:1.8;

margin-top:40px;

}





/* SIZE */


.stats{

display:flex;

gap:60px;

margin-top:50px;

}



.stats h1{

font-family:Georgia;

font-size:60px;

font-weight:400;

}





/* STATEMENT */


.statement{

height:80vh;

background:

linear-gradient(
rgba(0,0,0,.25),
rgba(0,0,0,.25)
),

url("assets/palm01.png");


background-size:cover;


display:flex;

align-items:center;

justify-content:center;


color:white;

text-align:center;


}



.statement h1{

font-family:Georgia;

font-size:80px;

font-weight:400;

}






/* CARE */


.care{

padding:150px 10%;

}



.care-grid{

margin-top:80px;


display:grid;

grid-template-columns:repeat(4,1fr);

gap:40px;


}



.care-grid div{

border-top:1px solid #222;

padding-top:30px;

}



.care span{

font-family:Georgia;

font-size:30px;

}



.care h3{

margin:30px 0;

font-size:26px;

}






footer{

padding:50px;

text-align:center;

letter-spacing:4px;

font-size:12px;

}





@media(max-width:800px){


header{

padding:25px;

}


nav{

display:none;

}


.hero{

padding:30px;

}


.hero h1{

font-size:55px;

}


.story,
.size,
.care-grid{

grid-template-columns:1fr;

}


.story,
.size,
.care{

padding:90px 30px;

}


h2,
.statement h1{

font-size:45px;

}


}
